<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>606884584058-bq95gquka7nv4or27b6viskkg4g8gv6s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.606884584058-bq95gquka7nv4or27b6viskkg4g8gv6s</string>
	<key>API_KEY</key>
	<string>AIzaSyDdV-18GfIEWIL1jSm3gF74Qr0fGBrGkKQ</string>
	<key>GCM_SENDER_ID</key>
	<string>606884584058</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>personal.Flowering</string>
	<key>PROJECT_ID</key>
	<string>fit5140-a2-4c821</string>
	<key>STORAGE_BUCKET</key>
	<string>fit5140-a2-4c821.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:606884584058:ios:5f7c108e6a7b1824c8f9c3</string>
	<key>DATABASE_URL</key>
	<string>https://fit5140-a2-4c821.firebaseio.com</string>
</dict>
</plist>
